################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IzzivUra
/Maui Workshop/.vs
/Maui Workshop/MonkeyFinder/bin/Debug
/PolnjenjeTabeleRegistracij/bin/Debug/net8.0
/TestiranjeNetMaui/.vs/TestiranjeNetMaui/FileContentIndex/1abe1c3e-34a1-45d2-9f12-f58ffbcab324.vsidx
/TestiranjeNetMaui/.vs/TestiranjeNetMaui/FileContentIndex/8190c6c5-1756-4e42-a669-96f9c270f893.vsidx
/TestiranjeNetMaui/.vs/TestiranjeNetMaui/FileContentIndex/f32d5a61-6760-47a3-b6c7-f7ef0e98e898.vsidx
