################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IzzivUra
/Maui Workshop/.vs
/Maui Workshop/MonkeyFinder/bin/Debug
/PolnjenjeTabeleRegistracij/bin/Debug/net8.0
/TestiranjeNetMaui/.vs/TestiranjeNetMaui/FileContentIndex/1abe1c3e-34a1-45d2-9f12-f58ffbcab324.vsidx
/TestiranjeNetMaui/.vs/TestiranjeNetMaui/FileContentIndex/8190c6c5-1756-4e42-a669-96f9c270f893.vsidx
/TestiranjeNetMaui/.vs/TestiranjeNetMaui/FileContentIndex/f32d5a61-6760-47a3-b6c7-f7ef0e98e898.vsidx
/DelNaServerju/.vs/DelNaServerju/FileContentIndex/015eea96-7c08-4dbb-b6cf-f40e5bad2cbc.vsidx
/DelNaServerju/.vs/DelNaServerju/FileContentIndex/7f2e49ff-61e6-4911-aaf3-cbd8450c4aa4.vsidx
/TestiranjeNetMaui/.vs/TestiranjeNetMaui/FileContentIndex/0a32642a-f64d-4bfa-9dec-3ca6c2aa8922.vsidx
/TestiranjeNetMaui/.vs/ProjectEvaluation/testiranjenetmaui.metadata.v9.bin
/TestiranjeNetMaui/.vs/ProjectEvaluation/testiranjenetmaui.strings.v9.bin
/TestiranjeNetMaui/.vs/TestiranjeNetMaui/FileContentIndex/0ecba36d-42b9-4078-821b-3bb898d93c6b.vsidx
/TestiranjeNetMaui/.vs/TestiranjeNetMaui/FileContentIndex/c153a01e-3975-4fbf-afd9-f6f55d796eff.vsidx
/TestiranjeNetMaui/.vs/TestiranjeNetMaui/FileContentIndex/c3e1eb11-6a52-46be-8575-c3d666e80d1f.vsidx
/TestiranjeNetMaui/.vs/TestiranjeNetMaui/FileContentIndex
