################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IzzivUra
/Maui Workshop/.vs
/Maui Workshop/MonkeyFinder/bin/Debug
/PolnjenjeTabeleRegistracij/bin/Debug/net8.0
